@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #3d4b6e;
  --secondary-color: #0f172a;
  --text-color: #fff;
  --hover-color: #3861cf;
  --overlay-color: #000000b5;
  --green-color: #16e061;
  --darkGreen-color: #1e5d35;
  --red-color: #ff0000;
}
